body{
    background-color: #161616;
}


#Header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header h1{
    font-family: "arial", sans-serif;
    font-size:36px;
    font-weight: 400;
    margin: 0;
    color: #FFFFFF;
}

#Actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

#icon-button {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-button svg {
    stroke: #FFFFFF;
    transition: 0.2s ease;
}

#icon-button:hover {
    background-color: #1f1f1f;
    transform: none(1.1);
}

.signup, .login{
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    transition: 0.2s ease;
}

.signup{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    border-color: transparent;
}

.login{
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.signup:hover{
    color: #e1e1e1;
}

.login:hover{
    background-color: #e1e1e1;
}