body{
    background-color: #E6E6E6;
}


#Header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header h1{
    font-family: "arial", sans-serif;
    font-size:36px;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

#Actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

#icon-button {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-button svg {
    stroke: #000000;
    transition: 0.2s ease;
}

#icon-button:hover {
    background-color: #e0e0e0;
    transform:none(1.1);
}

#icon-button:hover svg {
    stroke:#575757;
}

.signup, .login{
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    transition: 0.2s ease;
}

.signup{
    color: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    border-color: transparent;
}

.login{
    background-color: #000000;
    color: white;
    border: 2px solid #000000;
    border-radius: 8px;
}